@font-face {
    font-family: "Open Sans";
    src: url("_OpenSans.woff2");
}

@font-face {
    font-family: Ubuntu;
    src: url("_Ubuntu.woff2");
}

@font-face {
    font-family: "Noto Sans";
    src: url("_NotoSans.woff2");
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("_NotoSansJP.woff2");
}

@font-face {
    font-family: "Noto Sans SC";
    src: url("_NotoSansSC.woff2");
}

@font-face {
    font-family: "Noto Sans Special SC";
    src: url("_NotoSansSC.woff2");
    unicode-range: U+5DE9;
}

.nightMode {
    #card-back {
        --font-color: darkgray;
    }

    &.card {
        background-image: none;
    }

    .button {
        background-color: var(--button-color-dark);
    }
}

.mobile {
    .button {
        &:hover {
            &:not(.clicked) {
                background-color: var(--button-color-dark);
            }

            &.clicked {
                background-color: var(--button-color-dark);
            }
        }

        width: max(6rem);
    }

    #box-character {
        padding: 0 .75rem .5rem;
        font-size: 2.9rem;
    }

    #box-meaning {
        font-size: 20%;
    }

    .found-in-voc-reading {
        font-size: .5rem;
        padding-top: .15rem;
        padding-bottom: .1rem;
    }

    .found-in-voc {
        font-size: 1.2rem;
        padding-top: 0;
        padding-bottom: .2rem;
    }

    &.card.nightMode {
        color: white;
    }
}

:root {
    --japanese-font: "Noto Sans", "Noto Sans Special SC", "Noto Sans JP", "Noto Sans SC", sans-serif;
    --background-color-light: black;
    --background-color-dark: #E1E1E1;
    --font-color-dark: #333;
    --font-color-light: white;
    --font-color: #333;
    --hint-color: #555;
    --meaning-color: #777;
    --meaning-sub-color: #616161;
    --shadow-color: darkgray;
    --kanji-color: #f100a1;
    --kanji-color-dark: #b30077;
    --reading-color: #484848;
    --reading-color-dark: #0a0a0a;
    --radical-color: #00a0f1;
    --radical-color-dark: #0077b2;
    --vocabulary-color: #9e00ed;
    --vocabulary-color-dark: #7600b1;
    --incorrect-color: #f03;
    --correct-color: #8c0;
    --incorrect-color-dark: #f03;
    --correct-color-dark: #8c0;
    --button-color-dark: #616161;
    --button-color-light: #E0E0E0;
    --button-color-hover: #BDBDBD;

    font-size: 20px;
}

.card, :lang(en) {
    font-family: "Open Sans", sans-serif;
}

.card {
    font-size: 1rem;
    text-align: center;
    color: black;
    margin: .5rem;
    background-image: url("_back.png");
}

.card-front {
    font-size: 7.5rem;
    text-align: center;
}

#card-back {
    font-size: 1.3rem;
    text-align: left;
    color: var(--font-color);
    max-width: 76.1ch;
    padding: .5em 1em;
    margin: auto;
}

.heading {
    border-bottom: 1px solid var(--shadow-color);
    padding-bottom: .3em;
    margin-bottom: 1em;
}

summary {
    list-style-position: outside;
}

@media (width <= 60ch) {
    #card-back {
        padding: .2em;
    }

    summary {
        list-style-position: inside;
    }
}

*:lang(ja) {
    font-family: var(--japanese-font);
}

.hidden {
    display: none;
}

kanji,
reading,
radical,
vocabulary {
    padding: 0 .2em;
    margin: 0 .1em 0 0;
    border-radius: .3em;
}

@mixin box($name, $color-text: null) {
    #{$name} {
        background-color: var(--#{$name}-color);
        box-shadow: 0 2px var(--#{$name}-color-dark);
        color: var(--font-color-light);

        @if $color-text {
            --color-text: $color-text;
        }
    }
}

@include box(kanji);
@include box(reading);
@include box(radical, var(--font-color-light));
@include box(vocabulary);

.meaning {
    background-image: linear-gradient(to bottom, #efefef, #e0e0e0);
    box-shadow: 0 1px 5px 0 var(--shadow-color);
    color: var(--font-color-dark);
    line-height: 2rem;
}

.reading {
    background-image: linear-gradient(to bottom, #323232, #000);
    color: var(--font-color-light);
    line-height: 2rem;
}

@mixin box-class($name, $shadow-color, $color-text: null) {
    .#{$name} {
        font-size: 5rem;
        color: var(--font-color-light);
        background-color: var(--#{$name}-color);
        text-shadow: 2px 2px 0 $shadow-color;

        @if $color-text {
            --color-text: $color-text;
        }
    }
}

@include box-class(radical, #0093dd, var(--font-color-light));
@include box-class(kanji, #dd0093);
@include box-class(vocabulary, #9300dd);

.radical, .kanji, .vocabulary,
radical, kanji, vocabulary {
    a, a:link, a:visited {
        color: var(--font-color-light) !important;
        text-decoration: none !important;
    }
}

#meaning-title p {
    margin-bottom: 0;
}

#meanings {
    text-transform: uppercase;
    font-size: .7rem;
    margin: 0;

    p {
        margin: 0;
    }
}

.explanation {
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
    margin: .5rem 0;
}

%mnemonic {
    font-size: .8rem;
    font-family: Ubuntu, sans-serif;
    margin: 0 0 .5rem;
}

.mnemonic {
    @extend %mnemonic;

    line-height: 1.6;
}

.mnemonic-hint {
    @extend %mnemonic;

    background-color: var(--background-color-dark);
    color: var(--font-color-dark);
    padding: .5rem 1rem 1rem;
}

.hint {
    font-size: .55rem;
    color: var(--hint-color);
}

#vocabulary-reading {
    font-size: .9rem;
    color: var(--meaning-color);
}

#reading-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#kanji-readings {
    font-size: .8rem;
    line-height: 2;
    color: var(--meaning-color);
}

.readings-primary {
  color: var(--font-color);
}

#context-patterns {
    font-family: Ubuntu, sans-serif;
    display: flex;
    margin: -.5rem .5rem .75rem 0;
}

#common-word-combinations {
    box-shadow: -.5rem 0 .25rem -.5rem #8888;
    padding: 0 0 0 1rem;
}

.button {
    padding: .5rem 1px .5rem .5rem;
    margin: 0 0 .2rem;
    text-align: left;
    font-size: .7rem;
    background: none;
    border-radius: .3rem 0 0 .3rem;
    border: none;
    width: max(7rem);

    &:not(.clicked) {
        background-color: var(--button-color-light);
        transition-duration: 0.2s;
    }

    &.clicked {
        color: var(--font-color-light);
        background-color: var(--button-color-dark);
        transition-duration: 0.2s;
        clip-path: polygon(100% 100%, 100% 85%, 90% 50%, 100% 15%, 100% 0, 0 0, 0 100%);
    }

    &:hover {
        &:not(.clicked) {
            background-color: var(--button-color-hover);
        }

        &.clicked {
            background-color: var(--button-color-hover);
        }
    }

    &:focus {
        outline: 0;
    }
}

#context-sentences {
    font-size: .8rem;
    font-family: Ubuntu, sans-serif;
}

#patterns-of-use {
    font-size: .75rem;
    margin: 0 -1.5rem 1.5rem 0;
}

#common-word-combinations {
    font-size: .8rem;
    margin: 0 1.5rem .15rem;
}

#box-container {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

@mixin character($c1, $c2, $c3: $c1, $c4: $c2) {
    font-size: 3.6rem;
    color: var(--font-color-light);
    background-image: linear-gradient(to bottom, $c1, $c2);
    border-top: 1px solid $c3;
    border-bottom: 1px solid $c4;
    border-left: 1px solid $c3;
    text-align: center;
    padding: 0 1rem .5rem;
    text-shadow: 0 1px var(--kanji-color-dark);
    overflow: hidden;
}

#box-character {
    @include character(#f0a, #dd0093, #f6c, #c08);

    a, a:link, a:visited {
        color: var(--font-color-light) !important;
    }
}

#box-meaning {
    font-size: .7rem;
    margin: 0 -5rem;
}

radical-combination {
    font-size: 1.2rem;
    color: white;

    --color-text: white;

    background-color: var(--radical-color);
    box-shadow: 0 2px var(--radical-color-dark);
    padding: .25rem .4rem;
    margin: 0 .6rem 0 -0;
    border-radius: .2rem;

    a, a:link, a:visited {
        color: white !important;
    }
}

#combination {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--font-color);
}

.combination-plus {
    font-size: 1.25rem;
    margin: 0 .75rem;
}

%found-in-voc-common {
    width: 50%;
    background-color: #a0f;
    background-image: linear-gradient(to bottom, #a0f, #9300dd);
    border-top: 1px solid #a0f;
    border-color: #c655ff transparent #80c #c655ff;
}

.found-in-voc {
    @extend %found-in-voc-common;

    font-size: 1.3rem;
    padding: .45rem;
}

.found-in-voc-reading {
    @extend %found-in-voc-common;

    font-size: .5rem;
    text-align: right;
    padding: .75rem;
}

#found-in-vocabulary-box {
    display: flex;
    color: white;

    a, a:link, a:visited {
        color: white !important;
    }
}

#section-found-in-vocabulary {
    margin: .5rem 0 0;
}

#input {
    box-shadow: 0 2px 3px 0 var(--shadow-color);
    text-align: center;
    overflow: hidden;
    background-color: field;
}

#typeans {
    line-height: 2em;
    text-align: center;
    height: 2em;
    border: 0;
    outline-style: none;
    font-family: arial, sans-serif;
    font-size: 1rem;
    margin-top: .25em;
    background: transparent;
}

@keyframes shake {
    from {
        translate: 0 0;
    }

    25% {
        translate: 1em 0;
    }

    75% {
        translate: -1em 0;
    }

    to {
        translate: 0 0;
    }
}

.shake {
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: 5;
}

#typos {
    text-align: center;
}

.typo-expected,
.typo-ans {
    font-style: italic;
}

.typo-expected::before,
.typo-ans::before {
    content: "“";
}

.typo-expected::after,
.typo-ans::after {
    content: "”";
}


.correct {
    background: var(--correct-color)!important;
    color: var(--font-color-light);
}

.incorrect {
    background: var(--incorrect-color)!important;
    color: var(--font-color-light);
}

.replay-button {
    svg {
        display:none;
    }

    &::before {
        content: '▶';
        font-size: .9rem;
        color: var(--meaning-color);
    }
}

/* Level Indicator */
#question-display {
    position: relative;
}

#level {
    position: absolute;
    z-index: 999;
    left: 1rem;
    top: 1rem;
    background-color: #a1a1a1;
    background-image: linear-gradient(#a6a6a6, #999);
    color: #d5d5d5;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 20%), 0 1px 0 rgb(255 255 255 / 50%);
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    box-shadow: 0 -.15rem 0 rgb(0 0 0 / 20%) inset;
    text-decoration: none;
    font-size: 1.35rem;
    border-radius: .15rem;
    margin: 0 .5rem .5rem 0;
}

/* Correct Answers */
#correct {
    font-size: .8rem;

    reading {
        font-size: 1rem;
    }
}

.mobile {
    #level {
        font-size: .9rem;
    }

    #correct reading {
        font-size: 1.2rem;
    }
}

/* Pitch-Accent */
.mora {
    display: inline-block;
    margin-bottom: 0.2em;

    > * {
        margin: 0;
        border: 0 dotted currentcolor;

        --border-width: 1.5px;
    }

    > .mora-h-l {
        border-top-width: var(--border-width);
        border-right-width: var(--border-width);
    }

    > .mora-l-h {
        border-bottom-width: var(--border-width);
        border-right-width: var(--border-width);
    }

    > .mora-h {
        border-top-width: var(--border-width);
    }

    > .mora-l {
        border-bottom-width: var(--border-width);
    }
}

/* Keisei */
#section-phonetic-semantic {
    margin: .5rem 0 0;
}

#phonetic-semantic-container {
    display: flex;
    flex-direction: row;
}

@media (width <= 650px) {
    #phonetic-semantic-container {
        flex-direction: column;
    }

    #phonetic-container {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

#phonetic-container {
    display: flex;
    align-items: start;
    margin-right: 1rem;
}

#compound-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

#phonetic-character {
    @include character(#0c4, #092);
}

#radical-character {
    @include character(#0af, #0093dd, #88d7ff, #069);
}

.mobile {
    #phonetic-character {
        padding: 0 .75rem .5rem;
        font-size: 2.9rem;
    }

    #radical-character {
        padding: 0 .75rem .5rem;
        font-size: 2.9rem;
    }
}

/* SVG-Radicals */
wk-radical-svg > svg {
    position: relative;
    top: 0.3em;
    height: 1em;
    padding-bottom: 0.25em;
    margin: 0 auto;
    display: inline-block;
}
