name: Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AWKS_ENV: github-workflow

    strategy:
      matrix:
        node-version: [25.x]

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: latest

    - name: Install Qt dependencies
      id: install_qt
      run: |
        sudo apt-get update || true
        sudo apt-get install -y \
             libegl1-mesa-dev   \
             libx11-6           \
             libxcb-cursor0     \
             libxcb-icccm4      \
             libxcb-keysyms1    \
             libxcb-shape0      \
             libxcb-xkb1        \
             libxcb1            \
             libxext6           \
             libxfixes3         \
             libxkbcommon-x11-0 \
             libxkbcommon0      \
             libxrender1        \
             libpango1.0-dev    \
             libnspr4           \
             libnss3            \
             pkg-config         \
             xvfb

    - name: Install Google Chrome
      id: install_chrome
      run: |
        if ! sudo apt install -y google-chrome-stable
        then
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb
        fi

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Install node dependencies
      run: pnpm install

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install python dependencies
      id: install
      run: uv sync

    - name: Lint with Ruff
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: ruff
      run: uv run ruff check --output-format github

    - name: Lint with eslint
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: eslint
      run: pnpm gulp lint_eslint

    - name: Lint with htmlhint
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: htmlhint
      run: pnpm gulp lint_htmlhint

    - name: Lint with stylelint
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: stylelint
      run: pnpm gulp lint_stylelint

    - name: Lint with zmypy
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: zmypy
      run: uv run zmypy

    - name: Build TypeScript
      id: build_ts
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      run: pnpm gulp build_ts

    - name: Build
      id: build
      if: ${{ !cancelled() && steps.build_ts.conclusion == 'success' }}
      run: pnpm gulp build_quick

    - name: Test with pytest
      if: ${{ !cancelled() && steps.install_qt.conclusion == 'success' && steps.build.conclusion == 'success' }}
      id: pytest
      run: |
        xvfb-run --auto-servernum \
          uv run pytest -v        \
            --cov=dist/           \
            --cov-report=html     \
            --cov-report=lcov     \
            --cov-report=term-missing

    - name: Test with mocha
      if: ${{ !cancelled() && steps.build.conclusion == 'success' }}
      id: mocha
      run: pnpm c8 -r lcov -o coverage-mocha mocha

    - name: Export assets
      id: export_assets
      if: ${{ !cancelled() && steps.pytest.conclusion == 'success' }}
      run: pnpm gulp export_assets

    - name: Test with wdio
      if: ${{ !cancelled() && steps.install_chrome.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      id: wdio
      run: |
        rm -rf screenshots tmp/screenshots
        mkdir -p screenshots/argos
        xvfb-run --auto-servernum \
          pnpm wdio run ./wdio.conf.ts
        mkdir -p .nyc_output
        pnpm nyc merge coverage .nyc_output/out.json
        pnpm nyc report --reporter=lcov

    - name: Upload to Argos
      if: >
        !cancelled()
          && !env.NO_ARGOS
          && steps.install_chrome.conclusion == 'success'
          && steps.export_assets.conclusion == 'success'
      continue-on-error: true
      run: pnpm argos upload --token ${{ secrets.ARGOS_TOKEN }} screenshots

    - name: Create wdio visual report
      id: wdio_visual_report
      if: ${{ !cancelled() && steps.install_chrome.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      continue-on-error: true
      run: |
        rm -rf wdiovis
        pnpm wdio-visual-reporter \
            --jsonOutput=tmp/screenshots/actual/output.json \
            --reportFolder=wdiovis \
            --logLevel=debug

    - name: Upload wdio_screenshots
      if: ${{ !cancelled() && steps.install_chrome.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: wdio_screenshots
        path: |
          wdio-tests/baseline/github-workflow
          tmp/screenshots
          screenshots
        compression-level: 0

    - name: Upload wdio_visual_report
      if: ${{ !cancelled() && steps.wdio_visual_report.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      continue-on-error: true
      with:
        name: wdio_visual_report
        path: wdiovis/report

    - name: Upload coverage report
      if: ${{ !cancelled() && steps.pytest.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: htmlcov/

    - name: Coveralls
      if: ${{ !cancelled() && steps.build.conclusion == 'success' && !env.NO_COVERALLS }}
      uses: coverallsapp/github-action@v2

    - name: Generate badges
      if: >
        !cancelled()
          && !env.NO_BADGES
          && github.event_name == 'push'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      id: badges
      env:
        STEPS: ${{ toJSON(steps) }}
      run: pnpm ./scripts/badges.ts

    - name: Upload version badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).version.svgFile }}
        gist_file_name: version.svg

    - name: Upload Pytest badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).Pytest.svgFile }}
        gist_file_name: pytest.svg

    - name: Upload Mocha badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).Mocha.svgFile }}
        gist_file_name: mocha.svg

    - name: Upload WDIO badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).WDIO.svgFile }}
        gist_file_name: wdio.svg

    - name: Upload lint badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).lint.svgFile }}
        gist_file_name: lint.svg

    - name: Export zip file
      id: export_zip
      if: ${{ !cancelled() && steps.build.conclusion == 'success' }}
      run: pnpm gulp export_zip

    - name: Upload zip package
      if: ${{ !cancelled() && steps.export_zip.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: ankiwanikanisync.zip
        compression-level: 0
