name: Tests

on: [push, pull_request]

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AWKS_ENV: github-workflow

    strategy:
      matrix:
        node-version: [25.x]

    steps:
    - uses: actions/checkout@v5

    - name: Add problem matchers
      run: |
        echo ::add-matcher::.github/matchers/mypy.json
        echo ::add-matcher::.github/matchers/stylelint.json

    - name: Setup Google Chrome PPA
      run: |
        sudo mkdir -p /etc/apt/keyrings
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo dd of=/etc/apt/keyrings/google.asc
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo dd of=/etc/apt/trusted.gpg.d/google.asc
        echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/google.asc] http://dl.google.com/linux/chrome/deb/ stable main" | sudo dd of=/etc/apt/sources.list.d/google.list

    - name: Install Qt dependencies
      uses: awalsh128/cache-apt-pkgs-action@latest
      id: install_qt
      with:
        packages: >
             libegl1-mesa-dev
             libx11-6
             libxcb-cursor0
             libxcb-icccm4
             libxcb-keysyms1
             libxcb-shape0
             libxcb-xkb1
             libxcb1
             libxext6
             libxfixes3
             libxkbcommon-x11-0
             libxkbcommon0
             libxrender1
             libnspr4
             libnss3
             xvfb
             google-chrome-stable

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: "pyproject.toml"

    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: latest

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Install node dependencies
      run: pnpm install

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        cache-dependency-glob: |
          uv.lock

    - name: Install python dependencies
      id: install
      run: uv sync

    - name: Lint
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      id: lint
      run: pnpm gulp lint build_ts

    - name: Build
      id: build
      if: ${{ !cancelled() && steps.install.conclusion == 'success' }}
      run: pnpm gulp build_quick

    - name: Cleanup test results directories
      if: ${{ !cancelled() }}
      run: |
        rm -rf ctrf allure/results allure/report
        mkdir -p ctrf allure/results

    - name: Test with pytest
      if: ${{ !cancelled() && steps.install_qt.conclusion == 'success' && steps.build.conclusion == 'success' }}
      id: pytest
      run: |
        xvfb-run --auto-servernum   \
          uv run pytest -v          \
            --ctrf=ctrf/pytest.json \
            --cov=dist/             \
            --cov-report=html       \
            --cov-report=lcov       \
            --cov-report=term-missing

    - name: Test with mocha
      if: ${{ !cancelled() && steps.build.conclusion == 'success' }}
      id: mocha
      run: |
        pnpm c8 -r lcov -o coverage-mocha \
            ./scripts/mocha.ts

    - name: Export assets
      id: export_assets
      if: ${{ !cancelled() && steps.pytest.conclusion == 'success' }}
      run: pnpm gulp export_assets

    - name: Test with wdio
      if: ${{ !cancelled() && steps.install_qt.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      id: wdio
      run: |
        rm -rf screenshots tmp/screenshots
        mkdir -p screenshots/argos
        xvfb-run --auto-servernum \
          pnpm wdio run ./wdio.conf.ts
        mkdir -p .nyc_output
        pnpm nyc merge coverage .nyc_output/out.json
        pnpm nyc report --reporter=lcov

    - name: Publish Test Report
      uses: ctrf-io/github-test-reporter@v1
      if: ${{ !env.NO_CTRF }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        report-path: './ctrf/*.json'
        github-report: true
        summary-report: true
        failed-report: true
        fail-rate-report: true
        slowest-report: true
        skipped-report: true
        upload-artifact: true
        suite-folded-report: true

    - name: Upload ctrf reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ctrf
        path: ctrf

    - name: Generate Allure report
      id: allure
      if: ${{ !cancelled() }}
      run: pnpm allure generate allure/results

    - name: Upload Allure report
      if: ${{ !cancelled() && steps.allure.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: allure_report
        path: allure/report

    - name: Run Allure Action
      uses: allure-framework/allure-action@v0.6.2
      with:
        report-directory: "./allure/report"
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload to Argos
      if: >
        !cancelled()
          && !env.NO_ARGOS
          && steps.install_qt.conclusion == 'success'
          && steps.export_assets.conclusion == 'success'
      continue-on-error: true
      run: pnpm argos upload --token ${{ secrets.ARGOS_TOKEN }} screenshots

    - name: Create wdio visual report
      id: wdio_visual_report
      if: ${{ !cancelled() && steps.install_qt.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      continue-on-error: true
      run: |
        rm -rf wdiovis
        pnpm wdio-visual-reporter \
            --jsonOutput=tmp/screenshots/actual/output.json \
            --reportFolder=wdiovis \
            --logLevel=debug

    - name: Upload wdio_screenshots
      if: ${{ !cancelled() && steps.install_qt.conclusion == 'success' && steps.export_assets.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: wdio_screenshots
        path: |
          wdio-tests/baseline/github-workflow
          tmp/screenshots
          screenshots
        compression-level: 0

    - name: Upload wdio_visual_report
      if: ${{ !cancelled() && steps.wdio_visual_report.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      continue-on-error: true
      with:
        name: wdio_visual_report
        path: wdiovis/report

    - name: Upload coverage report
      if: ${{ !cancelled() && steps.pytest.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: htmlcov/

    - name: Coveralls
      if: ${{ !cancelled() && steps.build.conclusion == 'success' && !env.NO_COVERALLS }}
      uses: coverallsapp/github-action@v2

    - name: Generate badges
      if: >
        !cancelled()
          && !env.NO_BADGES
          && github.event_name == 'push'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
      id: badges
      env:
        STEPS: ${{ toJSON(steps) }}
      run: pnpm ./scripts/badges.ts

    - name: Upload version badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).version.svgFile }}
        gist_file_name: version.svg

    - name: Upload Pytest badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).Pytest.svgFile }}
        gist_file_name: pytest.svg

    - name: Upload Mocha badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).Mocha.svgFile }}
        gist_file_name: mocha.svg

    - name: Upload WDIO badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).WDIO.svgFile }}
        gist_file_name: wdio.svg

    - name: Upload lint badge svg
      uses: exuanbo/actions-deploy-gist@v1
      if: ${{ !cancelled() && steps.badges.conclusion == 'success' }}
      with:
        token: ${{ secrets.GIST_TOKEN }}
        gist_id: 8de11cd55fbde45736cf02cd9fa67472
        file_path: ${{ fromJSON(steps.badges.outputs.badges).lint.svgFile }}
        gist_file_name: lint.svg

    - name: Export zip file
      id: export_zip
      if: ${{ !cancelled() && steps.build.conclusion == 'success' }}
      run: pnpm gulp export_zip

    - name: Upload zip package
      if: ${{ !cancelled() && steps.export_zip.conclusion == 'success' }}
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: ankiwanikanisync.zip
        compression-level: 0
